.App {
  text-align: center;
  height: 100vh;
  width: 100vw;
  background: #111723;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
.standard_navbar {
  height: 80px;
  background: #1c212a;
  color: #fff;
}
.standard_form {
  position: absolute;
  right: 0;
  float: right !important;
  min-width: 30%;
  width: auto !important;
}
.standard_login_button {
  width: 140px;
  height: 47px;
  background-color: #27a745 !important;
  color: #fff !important;
  font-family: "Raleway", sans-serif;
  font-weight: 600 !important;
  letter-spacing: 0.05rem !important;
}
.standard_register_button {
  margin-right: 8%;
  width: 140px;
  height: 47px;
  font-family: "Raleway", sans-serif;
  font-weight: 600 !important;
  letter-spacing: 0.05rem !important;
}
.standard_heading {
  font-family: "Raleway", sans-serif;
  font-weight: 400 !important;
  letter-spacing: 0.08rem !important;
  font-size: 25px !important;
  margin-left: 1%;
}
.form-inline {
  display: block !important;
}

/* Landing page css goes here */
.wrapper {
  position: absolute;
  width: 100%;
  height: 90%;
}
.wrapper > div {
  height: 100%;
}
.landing_left {
  position: absolute !important;
  background-color: transparent;
  overflow: auto !important;
}
.landing_right {
  background-color: transparent;
  float: right;
  height: 99% !important;
  margin-top: 10px !important;
  /* left: 4%; */
  /* margin-left: -200px !important; */
  margin-right: 15px !important ;
  /* padding-right: -100px !important; */
  border-radius: 10px;
  width: 81.5% !important;
}
.ticker_list {
  margin-top: 10% !important;
}
.ticker_list_item {
  height: 45px !important;
  background-color: #212c3b !important;
  margin-top: 13px;
  border-radius: 2px;
  border: 1px solid #498fdf !important;
  color: #fff;
  font-size: 15px;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  letter-spacing: 0.06rem;
  vertical-align: center;
  text-align: center !important;
  line-height: 20px;
  left: 8px;
}
.list-group {
  margin-top: 10% !important;
}
.col-md-9 {
  max-width: 74.5% !important;
}
.ticker_input {
  background: transparent !important;
  border: none !important;
  border-bottom: 2px solid #fff !important;
  border-radius: 0px !important;
  width: 70% !important;
  margin-top: 10px !important;
  font-size: 17px !important;
  text-transform: uppercase;
  color: #fff !important;
  margin-left: 10px;
}
textarea:hover,
input:hover,
textarea:active,
input:active,
textarea:focus,
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
select:focus,
.btn:active,
.btn.active {
  outline: 0px !important;
  -webkit-appearance: none;
  box-shadow: none !important;
}
.ticker_button {
  border: none !important;
  margin-top: 10px !important;
  pointer-events: none !important;
}
.ticker_button > svg {
  /* height: 100px */
  margin-top: 20px;
}
.ticker_button: hover {
  pointer-events: none !important;
}

.full-nav-item {
  width: 81.475vw !important;
  /* margin-left: -15px !important; */
  border-bottom: 0px !important;
}

.nav_item_text {
  background: #1c212a;
  height: 60px !important;
  border: 0px !important;
  color: #fff;
  font-family: "Raleway", sans-serif;
  line-height: 40px;
  font-size: 18px;
  font-weight: 600;
  border-bottom: 0px !important;
  text-decoration: none !important;
  /* margin-top: 2vh; */
}
.nav_item_text:hover {
  color: #fff !important;
}
.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  background-color: #1f2531 !important;
  color: #498fde !important;
}
.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active:hover {
  color: #498fde !important;
}
.mafia_main_content {
  color: #fff;
}
.landing_right_top_main {
  height: 55vh !important;
  background: #202631;
  width: 81.47vw !important;
  margin-left: -15px !important;
  border-radius: 10px;
  /* position: absolute; */
}
.landing_right_bottom_main {
  margin-top: 1vh;
  height: 32vh !important;
  background: #202631;
  width: 81.47vw !important;
  margin-left: -15px !important;
  border-radius: 10px;
}

/* Table css goes here */
.MuiTableContainer-root {
  height: 40.8vh !important;
  /* margin-top: -15px !important; */
  /* border-bottom-left-radius: 10px; */
  background: #1e2431 !important;
}
.MuiTableBody-root {
  background: #1f2531;
  border: 0px !important;
}
.MuiTableCell-body {
  /* border: 0.008em solid #fff !important; */
  color: #fff !important;
  border-width: thin;
  /* display: none !important; */
}
.MuiTableCell-stickyHeader {
  background-color: #1c212a !important;
  color: #fff !important;
}
.MuiTablePagination-toolbar {
  background-color: #1c212a !important;
  color: #fff !important;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.makeStyles-root-32 {
  display: none !important;
}
.MuiTableRow-root {
  height: 0px !important;
  /* display: none !important; */
}
.makeStyles-table-3 {
  background: #1b202a !important;
}
.MuiTable-root {
  color: #fff !important;
}

.MuiPaper-elevation1 {
  background: transparent;
  height: 48vh !important;
  background: #1b202a !important;
  z-index: 12;
}
.MuiTableSortLabel-root {
  color: #fff !important;
  font-family: "Raleway", sans-serif !important;
}
.MuiTableCell-roo {
  display: none !important;
}
.makeStyles-root-1 {
  margin-top: -1.5vh;
  height: 50vh !important;
}
.PrivateSwitchBase-input-131 {
  display: none !important;
}
.MuiTableCell-paddingCheckbox {
  display: none !important;
}
.MuiTableCell-paddingNone {
  display: none !important;
}
.MuiSvgIcon-root {
  color: #fff !important;
}
.active_ticker{
  background: red !important;
}
